@charset 'utf-8';
@font-face {
    font-family: 'dfzq-fzlt';
    src: 'font/FZLTHJW.TTF';
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    font-family: 'dfzq-fzlt', '新宋体', 'Microsoft YaHei', sans-serif;
}

body {
    position: relative
}

.app-header {
    /*display: grid;*/
    /*grid-template-columns: 256px 1fr 128px;*/
    display: flex;
    justify-content: space-between;
    line-height: 60px;
}

.app-header-left {
    flex-shrink: 0;
    display: flex;
}

.app-menu-switch {
    width: 70px;
    height: 60px;
    cursor: pointer;
    background: #888;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-right: 1px solid #888;
    font-weight: 900;
}

.app-menu-logo {
    padding: 0 10px 0 5px;
    background-color: #C4161C;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    flex-shrink: 0;
    height: 60px;
}

.app-menu-logo::before {
    content: '';
    width: 30px;
    height: 30px;
    float: left;
    margin: 15px 5px;
    background: url('images/logo.png') no-repeat;
    background-size: 113px;
}

.app-msg {
    position: relative;
}

.app-ctrl {
    padding: 0 8px 0 18px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: #333;
}

.app-logout {
    margin: 0 30px 0 20px;
}

.app-logout:hover {
    cursor: pointer;
    color: red;
}

.app-tab {
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.jqcTabPanel {
    position: static!important;
    height: calc(100vh - 100px);
}

.jqcTabMoreContainer {
    z-index: 2!important;
    background-color: #fff;
}

input,
select,
textarea {
    outline: 0;
    border: 1px solid #D1D2D4;
    border-radius: 2px;
    font-size: 12px !important;
    box-sizing: border-box;
}

input {
    padding: 3px 5px 3px 5px;
}

select {
    padding: 3px 0px 3px 5px;
}

button {
    outline: 0;
    cursor: pointer;
}

a:FOCUS {
    outline: 0;
}

label {
    font-size: 12px;
    padding: 0 5px;
}

.inputBox,
.inputNumber {
    width: 92%
}

.inputArticle {
    width: 98.5%
}

.inputNumber {
    text-align: right;
}


/*flex class*/
.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align_items_center {
    display: flex;
    align-items: center;
}

.justify_content_between {
    display: flex;
    justify-content: space-between;
}

.justify_content_around {
    display: flex;
    justify-content: space-around;
}

.justify_content_end {
    display: flex;
    justify-content: flex-end;
}
/*dialog*/
.jqcDialogContent input,
.jqcDialogContent textarea,
.jqcDialogContent select {
    width: 100%;
    height: 30px;
}

.jqcDialogContent .jqcFormToolBar input {
    height: 26px;
}

.jqcDialogContent textarea {
    height: 50px;
}
/*form styte*/
.form_group {
    padding: 7px 0;
}

.form_group div{
    margin-left: 10px;
}

.btn {
    box-sizing: border-box;
    height: 26px;
    color: #fff;
    background: #ed1c24;
    padding: 0 10px;
    border-radius: 4px;
    border: none;
    line-height: 26px;
    cursor: pointer;
    text-align: center;
}

input.smail {
    width: 80px!important;
}

input.large {
    width: 200px!important;
}

.jqcTabPanel input {
    height: 26px;
    width: 150px;
    box-sizing: border-box;
}

.jqcTabPanel select {
    height: 26px;
    box-sizing: border-box;
}

.jqcTabPanel .export-excel {
    width: 26px;
    height: 26px;
    display: block;
    background: url('./images/export-excel.png') no-repeat center;
    background-size: 26px 26px;
}

.jqcConfirm-btnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.jqcConfirm-btnBox button{
    margin: 0 20px;
}

.jqcConfirm-textBox {
    padding: 10px;
    min-height: 50px;
}

.jqcDialogContent div[data-path] {
    margin-top: -15px;
}