@charset 'utf-8';
@font-face {
    font-family: 'dfzq-fzlt';
    src: 'font/FZLTHJW.TTF';
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    font-family: 'Microsoft YaHei', 'dfzq-fzlt', sans-serif;
}

body {
    position: relative;
    min-width: 1280px;
    background: #f2f2f2;
}

.app-header {
    /*display: grid;*/
    /*grid-template-columns: 256px 1fr 128px;*/
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    background: #fff;
}

.app-header-left {
    flex-shrink: 0;
    display: flex;
}

.app-menu-switch {
    display: none;
}

.app-menu-logo {
    font-family: FZLTZHJW--GB1-0;
    padding: 0 20px;
    color: #222;
    font-size: 16px;
    flex-shrink: 0;
    height: 40px;
}

.app-menu-logo::before {
    content: '';
    width: 90px;
    height: 24px;
    margin: 8px 0;
    float: left;
    background: url('images/logo.png') no-repeat center;
}

.app-menu-logo::after {
    content: '';
    width: 1px;
    height: 20px;
    float: left;
    margin: 10px 20px;
    background: #ddd;
}

.app-msg {
    position: relative;
}

.app-ctrl {
    padding: 0 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: #333;
}
.app-user,
.app-logout {
    margin: 0 10px;
    font-family: FZLTZHJW--GB1-0!important;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
}

.app-user{
    cursor: default;
}

.app-logout:hover {
    cursor: pointer;
    color: #C63136;
}

.app-tab {
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 10px 10px 30px;
}

.jqcTabPanel {
    position: static!important;
    height: calc(100vh - 90px);
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
}

.jqcTabMoreContainer {
    z-index: 10!important;
    background-color: #fff;
}

input,
select,
textarea {
    outline: 0;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #222;
    padding: 0 10px;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
}
input:hover,
select:hover,
textarea:hover {
    border: 1px solid #999;
}
textarea {
    padding: 5px 10px;
    height: 60px;
    resize: none;
}
label {
    font-size: 14px;
    color: #444;
}
input::-webkit-input-placeholder {
    color: #ccc;
}
input:disabled,
textarea:disabled,
select:disabled {
    background-color: #f2f2f2;
    color: #ccc;
    cursor: default!important;
}
input:disabled:hover,
textarea:disabled:hover,
select:disabled:hover{
    border-color: #d9d9d9;
}
input[datatype="date"] {
    /*width: 110px;*/
    padding-right: 28px;
    background-image: url('./images/icon_calendar.png');
    background-repeat: no-repeat;
    background-position: 126px;
}
input[datatype="date"][format="yyyy-MM-dd HH:mm:ss"] {
    padding: 0 10px;
    background-image: none!important;
}
input[datatype="date"]:hover {
    background-image: url('./images/icon_calendar_active.png');
}
input[datatype="date"]:disabled:hover {
    background-image: url('./images/icon_calendar.png');
}
input[datatype="date"][date-start],
input[datatype="date"][date-end] {
    width: 110px;
    padding-right: 10px;
    background-image: none;
}
input[datatype="date"][date-start]{
    margin-right: 10px;
}
input[datatype="date"][date-end]{
    margin-left: 10px;
}
input[datatype="date"]:focus{
    background-image: url('./images/icon_calendar_active.png');
}
input:hover,
input:focus {
    border: 1px solid #999;
}

select {
    padding: 3px 0px 3px 5px;
}

button {
    outline: 0;
    cursor: pointer;
}

a:FOCUS {
    outline: 0;
}

label {
    font-size: 14px;
    padding: 0 5px;
}

.inputArticle {
    width: 98.5%
}

.inputNumber {
    text-align: right;
}


/*flex class*/
.flexbox {
    display: flex;
}

.flex_warp {
    display: flex;
    flex-wrap: wrap;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align_items_center {
    display: flex;
    align-items: center;
}

.justify_content_between {
    display: flex;
    justify-content: space-between;
}

.justify_content_around {
    display: flex;
    justify-content: space-around;
}

.justify_content_end {
    display: flex;
    justify-content: flex-end;
}
/*dialog*/
.jqcDialogContent textarea {
    height: 50px;
}
/*form styte*/
.form_group {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.form_group .form_item,
.form_group > div{
    display: flex;
    align-items: center;
    padding: 10px 5px 0 15px;
    color: #444;
}

.form_label span,
.form_label label,
.form .row > div span,
.form .row > div label,
.form_group .form_item span,
.form_group .form_item label,
.form_group > div label,
.form_group > div span{
    color: #444;
    font-size: 12px;
    margin-right: 10px;
}
.form .row > div,
.form_label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.form .row > div input:required + span::before,
.form .row > div input:required + label::before,
.form_label input:required + span::before,
.form_label input:required + label::before {
    content: '*';
    color: #C63136;
    margin-right: 4px;
}
.form_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px;
}
.form_btn_box.left {
    justify-content: flex-start;
}
.form_btn_box.right {
    justify-content: flex-end;
}
.form_btn_box button{
    margin: 0 10px;
}
.form_btn_box.left button {
    margin: 0 20px 0 0;
}
.form_btn_box.right button {
    margin: 0 0 0 20px;
}
.toolbar-left {
    padding-right: 48px;
}
.form_group .search_item{
    padding: 10px 15px 0 0;
    margin-left: -5px;
}
.jqcFormToolBar-newline .toolbar-right .form_item,
.jqcFormToolBar-newline .toolbar-right .form_group > div {
    padding: 10px 5px 0 0;
}
.jqcFormToolBar-newline .toolbar-right .search_item{
    flex-grow: 1;
    flex-direction: row-reverse;
    padding: 10px 0 0 0;
}
.btn {
    box-sizing: border-box;
    height: 30px;
    color: #fff;
    background: #C63136;
    padding: 0 15px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    min-width: 70px;
}
.btn:hover{
    background: #D86065;
}
.btn.btn_normal {
    background: #fff;
    line-height: 28px;
    color: #444;
    border: 1px solid #d9d9d9;
}
.btn.btn_normal:hover{
    background: #fff;
    color: #C63136;
    border: 1px solid #C63136;
}
.btn.btn_normal:disabled{
    color: #ccc;
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
}
.btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

input.smail,
select.smail,
textarea.smail {
    width: 80px!important;
}

input.large,
select.large,
textarea.large {
    width: 200px;
}

.jqcTabPanel .export-excel,
.jqcTabPanel .export-word,
.jqcTabPanel .export-pdf {
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 3px center;
    border: 1px solid #d9d9d9;
}
.jqcTabPanel .export-excel {
    background-image: url('./images/icon_excel.png');
}
.jqcTabPanel .export-word {
    background-image: url('./images/icon_word.png');
}
.jqcTabPanel .export-pdf {
    background-image: url('./images/icon_pdf.png');
}

.jqcTabPanel .export-excel:hover {
    border: 1px solid #C63136;
    background-image: url('./images/icon_excel_hover.png');
}

.jqcTabPanel .export-word:hover {
    border: 1px solid #C63136;
    background-image: url('./images/icon_word_hover.png');
}

.jqcTabPanel .export-pdf:hover {
    border: 1px solid #C63136;
    background-image: url('./images/icon_pdf_hover.png');
}

.jqcConfirm-btnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.jqcConfirm-btnBox button{
    margin: 0 20px;
}

.jqcConfirm-textBox {
    padding: 10px;
    min-height: 50px;
}

.jqcDialogContent div[data-path] {
    margin: -15px 0;
}

hr {
    border: none;
    border-bottom: 1px solid #eee;
}

/*修改toolbar样式*/
.jqcFormToolBar{
    margin-bottom: 10px;
}
.jqcFormToolBar-newline {
    margin-bottom: 0;
}

.jqcFormToolBar .reset{
    font-size: 12px;
    color: #858AAC;
    letter-spacing: 1px;
    cursor: pointer;
    display: none;
    height: 30px;
    line-height: 30px;
}
.jqcFormToolBar .reset:hover{
    color: #C63136;
}

.jqcFormToolBar .showmore-visible .reset{
    display: block;
}
.dx-datagrid-table-fixed .dx-header-row .bgf5f6fa {
    background: #f5f6fa;
}
.toolbar-right button{
    margin-right: 20px;
}
.dx-datagrid input:hover,
.dx-datagrid input:focus{
    border-color: transparent;
}