@charset 'utf-8';
@font-face {
    font-family: 'dfzq-fzlt';
    src: 'font/FZLTHJW.TTF';
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 14px;
    font-family: 'Microsoft YaHei', 'dfzq-fzlt', sans-serif;
}

body {
    position: relative;
    /*笔记本宽度*/
    min-width: 1280px;
    background: #f2f2f2;
    min-height: 100vh;
}

.app-header {
    /*display: grid;*/
    /*grid-template-columns: 256px 1fr 128px;*/
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    background: #fff;
}

.app-header-left {
    flex-shrink: 0;
    display: flex;
}

.app-menu-switch {
    display: none;
}

.app-menu-logo {
    font-family: FZLTZHJW--GB1-0;
    padding: 0 20px;
    color: #222;
    font-size: 16px;
    flex-shrink: 0;
    height: 40px;
}

.app-menu-logo::before {
    content: '';
    width: 90px;
    height: 24px;
    margin: 8px 0;
    float: left;
    background: url('images/logo.png') no-repeat center;
}

.app-menu-logo::after {
    content: '';
    width: 1px;
    height: 20px;
    float: left;
    margin: 10px 20px;
    background: #ddd;
}

.app-msg {
    position: relative;
}

.app-ctrl {
    padding: 0 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: #333;
}
.app-user,
.app-logout {
    margin: 0 10px;
    font-family: FZLTZHJW--GB1-0!important;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
}

.app-user{
    cursor: default;
}

.app-logout:hover {
    cursor: pointer;
    color: #C63136;
}

.app-tab {
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 10px 10px 30px;
}

.jqcTabPanel {
    /* position: static!important; */
    height: calc(100vh - 90px);
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    top: 0;
    overflow-x: hidden;
}

.jqcTabMoreContainer {
    z-index: 10!important;
    background-color: #fff;
}

input,
select,
textarea {
    outline: 0;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #222;
    padding: 0 10px;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
}

input:hover,
select:hover,
textarea:hover {
    border: 1px solid #999;
}
textarea {
    padding: 5px 10px;
    height: 74px;
    resize: none;
}
textarea.full,
input.full,
button.full {
    width: 100%;
}
label {
    font-size: 14px;
    color: #444;
}
input::-webkit-input-placeholder {
    color: #ccc;
}
input:disabled,
textarea:disabled,
select:disabled {
    background-color: #f2f2f2;
    color: #666;
    cursor: default!important;
}
input:disabled:hover,
textarea:disabled:hover,
select:disabled:hover{
    border-color: #d9d9d9;
}
input[datatype="date"] {
    padding-right: 28px;
    background-image: url('./images/icon_calendar.png');
    background-repeat: no-repeat;
    background-position: right 6px center;
}
input[datatype="date"][format="yyyy-MM-dd HH:mm:ss"] {
    padding: 0 10px;
    background-image: none!important;
}
input[datatype="date"]:hover {
    background-image: url('./images/icon_calendar_active.png');
}
input[datatype="date"]:disabled:hover {
    background-image: url('./images/icon_calendar.png');
}
input[datatype="date"][date-start],
input[datatype="date"][date-end] {
    width: 110px;
    padding-right: 10px;
    /*background-image: none;*/
}
input[datatype="date"][date-start]{
    margin-right: 10px;
}
input[datatype="date"][date-end]{
    margin-left: 10px;
}
input[datatype="date"]:focus{
    background-image: url('./images/icon_calendar_active.png');
}
input:hover,
input:focus {
    border: 1px solid #999;
}

select {
    padding: 3px 0px 3px 5px;
}

button {
    outline: 0;
    cursor: pointer;
}

a:FOCUS {
    outline: 0;
}

label {
    font-size: 14px;
    padding: 0 5px;
}

.inputArticle {
    width: 98.5%
}

.inputNumber {
    text-align: right;
}


/*flex class*/
.flexbox {
    display: flex;
}

.flex_warp {
    display: flex;
    flex-wrap: wrap;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align_items_center {
    display: flex;
    align-items: center;
}

.justify_content_between {
    display: flex;
    justify-content: space-between;
}

.justify_content_around {
    display: flex;
    justify-content: space-around;
}

.justify_content_end {
    display: flex;
    justify-content: flex-end;
}
/*form styte*/
.form_group {
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.form_group .form_item,
.form_group > div{
    display: flex;
    align-items: center;
    padding: 10px 5px 0 15px;
    color: #444;
}

.form_label span,
.form_label label,
.form .row > div span,
.form .row > div label,
.form_group .form_item span,
.form_group .form_item label,
.form_group > div label,
.form_group > div span{
    color: #444;
    font-size: 12px;
    margin-right: 10px;
    line-height: 30px;
}
.form.fixed {
    padding-bottom: 60px;
}
.form.fixed .form_btn_box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
}
.form .row > div,
.form_label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.form .row > div input:required + span::before,
.form .row > div input:required + label::before,
.form_label input:required + span::before,
.form_label input:required + label::before,
.form .row > div textarea:required + span::before,
.form .row > div textarea:required + label::before,
.form_label textarea:required + span::before,
.form_label textarea:required + label::before,
span.required::before,
label.required::before {
    content: '*';
    color: #C63136;
    margin-right: 4px;
}
.form_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0;
    border-top: 1px solid #f2f2f2;
}
.form_btn_box.normal {
    border-top: none;
    padding: 0;
}
.form_btn_box.left {
    justify-content: flex-start;
    padding-left: 20px;
}
.form_btn_box.right {
    justify-content: flex-end;
    padding-right: 20px;
}
.form_btn_box button{
    margin: 0 10px;
}
.form_btn_box.left button {
    margin: 0 20px 0 0;
}
.form_btn_box.right button {
    margin: 0 0 0 20px;
}
.toolbar-left {
    padding-right: 48px;
}
.form_group .search_item{
    padding: 10px 15px 0 0;
    margin-left: -5px;
}
.jqcFormToolBar-newline .toolbar-right .form_group {
    justify-content: flex-end;
}
.jqcFormToolBar-newline .toolbar-right .form_item,
.jqcFormToolBar-newline .toolbar-right .form_group > div {
    padding: 10px 5px 0 0;
}
.jqcFormToolBar-newline .toolbar-right .search_item{
    flex-direction: row-reverse;
    padding: 10px 0 0 0;
}
.toolbar-right .search_item input.search{
    width: 100px;
}
.btn {
    box-sizing: border-box;
    height: 30px;
    color: #fff;
    background: #C63136;
    padding: 0 15px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    min-width: 70px;
}
.btn:hover{
    background: #D86065;
}
.btn.btn_normal {
    background: #fff;
    line-height: 28px;
    color: #444;
    border: 1px solid #d9d9d9;
}
.btn.btn_normal:hover{
    background: #fff;
    color: #C63136;
    border: 1px solid #C63136;
}
.btn.btn_normal:disabled{
    color: #ccc;
    background: #f2f2f2;
    border: 1px solid #d9d9d9;
}
.btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

input.smail,
select.smail,
textarea.smail {
    width: 80px!important;
}

input.large,
select.large,
textarea.large {
    width: 200px;
}

.jqcTabPanel .export-excel,
.jqcTabPanel .export-word,
.jqcTabPanel .export-pdf {
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 3px center;
    border: 1px solid #bbb;
}
.jqcTabPanel .export-excel {
    background-image: url('./images/icon_excel.png');
}
.jqcTabPanel .export-word {
    background-image: url('./images/icon_word.png');
}
.jqcTabPanel .export-pdf {
    background-image: url('./images/icon_pdf.png');
}

.jqcTabPanel .export-excel:hover {
    border: 1px solid #C63136;
    background-image: url('./images/icon_excel_hover.png');
}

.jqcTabPanel .export-word:hover {
    border: 1px solid #C63136;
    background-image: url('./images/icon_word_hover.png');
}

.jqcTabPanel .export-pdf:hover {
    border: 1px solid #C63136;
    background-image: url('./images/icon_pdf_hover.png');
}
.jqcTabPanel .refresh {
    width: 30px;
    height: 30px;
    background: url('./images/icon-refresh.svg') no-repeat center;
}
.jqcTabPanel .refresh.active {
    animation: circle 1s linear infinite;
}
.jqcConfirm-btnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.jqcConfirm-btnBox button{
    margin: 0 20px;
}

.jqcConfirm-textBox {
    padding: 10px;
    min-height: 50px;
}

.jqcDialogContent div[data-path] {
    margin: -15px 0;
}

hr {
    border: none;
    border-bottom: 1px solid #eee;
}

/*修改toolbar样式*/
.jqcFormToolBar{
    margin-bottom: 10px;
}
.jqcFormToolBar-newline {
    margin-bottom: 0;
}

.jqcFormToolBar .reset{
    font-size: 12px;
    color: #858AAC;
    letter-spacing: 1px;
    cursor: pointer;
    display: none;
    height: 30px;
    line-height: 30px;
}
.jqcFormToolBar .reset:hover{
    color: #C63136;
}

.jqcFormToolBar .showmore-visible .reset{
    display: block;
}
.dx-datagrid-table-fixed .dx-header-row .bgf5f6fa {
    background: #f5f6fa;
}
.toolbar-right button{
    margin-right: 20px;
}
.dx-datagrid input:hover,
.dx-datagrid input:focus{
    border-color: transparent;
}
.fieldset{
    margin: 0 20px 10px;
    border: 1px solid #EBEDF3;
    border-radius: 2px;
    position: relative;
}
.fieldset .content{
    overflow: hidden;
}
.fieldset::before{
    content: attr(data-title);
    display: block;
    height: 34px;
    line-height: 34px;
    color: #444;
    font-size: 12px;
    text-indent: 14px;
    background: #F5F6FA;
}
.fieldset.isLink::before{
    cursor: pointer;
}
.fieldset.isLink.hover::before{
    background: #E4E6EE;
}
/* 需要引入icon组件 */
.fieldset.isLink::after{
    position: absolute;
    top: 10px;
    right: 10px;
    content: '\e903';
    color: #d9d9d9;
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform-origin: 50%;
    transition: all 0.5s ease-out;
}
.fieldset.isLink.active::after{
    transform: rotate(90deg);
}
.fieldset .subTitle{
    text-align: center;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.fieldset .subTitle::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #ccc;
    top: 50%;
    left: 50%;
    margin-left: -45%;
    z-index: 1;
}
.fieldset .subTitle > span{
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: #444;
}
.btn_group .btn_list {
    display: none;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    padding-top: 4px;
    min-width: 70px;
}
.btn_group:hover .btn_list{
    display: flex;
}
.btn_group .btn_list button{
    margin: 0;
    border-radius: 0;
    width: 100%;
}
.btn_group .btn_list button:nth-child(1){
    border-radius: 2px 2px 0 0;
}
.btn_group .btn_list button:nth-last-child(1){
    border-radius: 0 0 2px 2px;
}
body > div.dialog_container{
    margin-top: 10px;
    background: #fff;
    height: calc( 100vh - 50px );
    box-sizing: border-box;
    padding: 5px 0 60px;
}
body > div.dialog_container .dialog_title{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    color: #222;
    box-sizing: border-box;
    padding: 0 10px;
}
body > div.dialog_container .dialog_title p,
.jqcDialogTitle p{
    font-size: 14px;
    color: #333;
    font-weight: 600;
    padding-left: 20px;
    display: inline-block;
}
.jqcDialogTitle p {
    padding-left: 10px;
    font-weight: 400;
    font-size: 12px;
}
.jqcDialogTitle p span {
    font-size: 12px;
}
body > div.dialog_container .dialog_title p::before,
.jqcDialogTitle p::before{
    content: '（ 待办人：'
}
body > div.dialog_container .dialog_title p::after,
.jqcDialogTitle p::after{
    content: '）'
}
body > div.dialog_container .dialog_title p span,
.jqcDialogTitle p span {
    margin: 0 5px;
    cursor: pointer;
    color: #7088e6!important;
    display: inline-block;
}
body > div.dialog_container .dialog_title p span:hover,
.jqcDialogTitle p span:hover{
    color: #8aa1ff!important;
}
.dialog_user_info_container p{
    padding: 10px 0;
    color: #444;
    font-size: 12px;
}
.dialog_user_info_container p::before{
    content: attr(data-before);
    display: inline-block;
    width: 150px;
    text-align: right;
}
body > div.dialog_container .dialog_body {
    display: flex;
    justify-content: center;
}
body > div.dialog_container .dialog_body .form_btn_box{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: none;
}

.fix_bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 500;
}
/* radio */
.radio,
.checkbox {
    /* display: inline-block; */
    width: 14px;
    height: 14px;
    position: relative;
}
.radio input,
.checkbox input {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.radio input[readonly],
.checkbox input[readonly]{
    z-index: -1;
}
.radio input:disabled,
.checkbox input:disabled {
    cursor: not-allowed;
}
.radio i,
.checkbox i {
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #B8B9C5;
    border-radius: 50%;
    background-color: #fff;
}
.checkbox i {
    border-radius: 2px;
}
.radio input:checked + i{
    background-image: url('./images/icon_radio_active.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-color: #C63136;
}
.checkbox input:checked + i{
    background-image: url('./images/icon-check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
    border-color: #C63136;
    background-color: #C63136;
}
.radio input:disabled + i,
.checkbox input:disabled + i {
    border-color: #d9d9d9;
    background-color: #f2f2f2;
}
.radio input:checked:disabled + i{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    background-image: url('./images/icon_radio_required.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.checkbox input:checked:disabled + i{
    border-color: #d9d9d9;
    background-color: #f2f2f2;
    background-image: url('./images/icon_checkbox_required.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}
.collapse {
    overflow: hidden;
    padding-bottom: 15px;
    background: #FAFAFA;
    border-radius: 6px;
    margin-top: 15px;
    position: relative;
}
.collapse .arrow{
    position: absolute;
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url('./images/icon_arrow_up.png') no-repeat center;
    background-size: 10px 6px;
}
.collapse .arrow.hide{
    background: url('./images/icon_arrow_down.png') no-repeat center;
    background-size: 10px 6px;
}
.dx_btns,
.dx_fixed_right{
    box-shadow: -4px 0 10px -4px rgba(0, 0, 0, .2);
}
.dx_fixed_left {
    box-shadow: 4px 0 10px -4px rgba(0, 0, 0, .2);
}
.dx-datagrid-total-footer .dx_btns,
.dx-datagrid-total-footer .dx_fixed_left,
.dx-datagrid-total-footer .dx_fixed_right {
    box-shadow: none;
}
.dx_btns span,
.dx_btn span {
    color: #7088e6;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
    line-height: 1;
    position: relative;
}
.dx_btns span::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 1px;
    height: 10px;
    background: #bbb;
    right: -10px;
    margin-top: -5px;
}
.dx_btns span:nth-last-child(1)::after{
    display: none;
}
.dx_btn span {
    margin: 0;
}
.dx_btns span:hover,
.dx_btn span:hover {
    color: #8aa1ff;
}
.dx_center[role=gridcell] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pointer .dx-data-row.dx-column-lines{
    cursor: pointer!important;
}
.icon_explain {
    width: 40px!important;
    height: 30px!important;
    display: inline-block!important;
    cursor: pointer!important;
    background: url('./images/icon_info.png') no-repeat center;
}
@keyframes circle {
    form { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
td[role="columnheader"] {
    background: #f5f6fa!important;
}
.min_width_20 {
    min-width: 40px!important;
}
.min_width_40 {
    min-width: 60px!important;
}
.min_width_60 {
    min-width: 60px!important;
}
.min_width_80 {
    min-width: 80px!important;
}
.min_width_100 {
    min-width: 100px!important;
}
.min_width_120 {
    min-width: 120px!important;
}
.min_width_140 {
    min-width: 140px!important;
}
.min_width_160 {
    min-width: 160px!important;
}
.min_width_180 {
    min-width: 180px!important;
}
.min_width_200 {
    min-width: 200px!important;
}
.dx-datagrid.dx-datagrid-borders>.dx-datagrid-rowsview.dx-last-row-border tbody:last-child>.dx-data-row:nth-last-child(2)>td {
    border-bottom-width: 1px!important;
}
.dx-datagrid .dx-row-lines.bg_red > td{
    background-color: #FFEBEB!important;
}
.dx-datagrid .dx-row-lines.bg_yellow > td{
    background-color: #FFF8E9!important;
}
.dx-datagrid .dx-row-lines.bg_white > td{
    background-color: #FFFFFF!important;
}
.text_action {
    color: #7088e6!important;
    cursor: pointer;
    text-decoration: none;
}
.text_action:hover {
    color: #8aa1ff!important;
}
.dx-header-row .dx-sort-indicator.dx-header-filter-indicator {
    max-width: calc(100% - 20px)!important;
}
.dx-datagrid .dx-sort-up, .dx-datagrid .dx-sort-down {
    margin: 0 -5px 0 8px;
}
.dx-column-indicators[style="float: right;"] {
    flex-direction: row-reverse;
}
.df_table {
    border: 1px solid #e4e6ee;
}
.df_table th,
.df_table td{
    height: 36px;
    line-height: 36px;
    text-align: center;
}
.df_table thead tr{
    background-color: #f5f6fa;
}
.df_table  tbody td{
    border-top: 1px solid #e4e6ee;
}
.df_table  tbody tr:nth-child(2n){
    background-color: #f8f8f8;
}
.df_table  tbody tr:hover{
    background-color: #e4e6ee;
}
.dx-texteditor{
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
.dx-texteditor.dx-state-hover,
.dx-texteditor.dx-state-focused,
.dx-texteditor.dx-state-active{
    border: 1px solid #999;
}
.dx-texteditor span {
    line-height: inherit!important;
}
.dx-header-row .dx-command-select {
    background: #f5f6fa;
}
.dx-datagrid .dx-datagrid-content-fixed .dx-datagrid-table.dx-datagrid-table-fixed .dx-row td.dx-pointer-events-none {
   border-left: none;
   border-right: none; 
}
.jqcDialogTitleBar {
    height: 40px;
    padding: 10px 15px;
}