/* 自定义dx表格样式 */

.dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input,
.dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-placeholder:before {
  width: 100%;
}

.dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row>td>.dx-datagrid-text-content {
  color: #4d4d4d;
  font-size: 12px;
}

.dx-datagrid-headers .dx-header-row {
  background: #f5f6fa;
}

.dx-datagrid-content-fixed .dx-header-row {
  background: transparent;
}

.dx-datagrid .dx-column-indicators {
  /* display: inline-block; */
  display: flex;
  height: 39px;
  align-items: center;
}

.dx-datagrid-nowrap.dx-datagrid-headers .dx-header-row>td>.dx-datagrid-text-content {
  font-size: 14px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-container {
  /*overflow: hidden;*/
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-dropdowneditor {
  /*margin-left: -1px;*/
  /*padding-left: 1px;*/
}

.dx-datagrid-filter-row .dx-menu {
  left: 2px;
}

.dx-menu-base .dx-menu-item .dx-menu-item-content .dx-menu-item-text {
  font-size: 12px;
}

.dx-datagrid .dx-column-indicators {
  height: 36px;
  float: right !important;
}

.dx-datagrid-filter-row .dx-menu {
  margin-top: 0;
}

.dx-header-row td.dx-datagrid-group-space {
  background: #f5f6fa !important;
}

.dx-datagrid .dx-row-lines.type_0>td {
  background-color: #bbb !important;
}

.dx-datagrid-content-fixed .dx-header-row {
  background: transparent;
}

.dx-scrollable-scroll-content {
  background-color: #666;
}

.dx-datagrid-borders>.dx-datagrid-headers,
.dx-datagrid-borders>.dx-datagrid-rowsview,
.dx-datagrid-borders>.dx-datagrid-total-footer {
  border-left: 1px solid #ebedf3;
  border-right: 1px solid#ebedf3;
}

.dx-datagrid-borders>.dx-datagrid-pager,
.dx-datagrid-borders>.dx-datagrid-headers,
.dx-datagrid-borders>.dx-datagrid-filter-panel {
  border-top: 1px solid #ebedf3;
}

.dx-datagrid-borders>.dx-datagrid-filter-panel {
  border-left: 1px solid #ebedf3;
  border-right: 1px solid #ebedf3;
}

.dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none,
.dx-datagrid .dx-datagrid-rowsview .dx-freespace-row td.dx-pointer-events-none,
.dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none {
  border-left: none;
  border-right: none;
}

.dx-datagrid .dx-datagrid-headers {
  height: auto;
  overflow: hidden;
}

.dx-datagrid .dx-row-lines.dx-row-alt>td {
  background-color: #fff;
}

.dx-datagrid .dx-row-lines>td {
  border-bottom: 1px solid #ebedf3;
  background-color: #f8f8f8;
}

.dx-datagrid .dx-column-lines>td {
  border-left: 1px solid #ebedf3;
  border-right: 1px solid #ebedf3;
}

.dx-datagrid .dx-row>td {
  padding: 0 15px;
  font-size: 12px;
  line-height: 39px;
  height: 39px;
  color: #666;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>td:not(.dx-focused) {
  background-color: #f5f6fa;
  color: #000;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>td:not(.dx-focused).dx-datagrid-group-space {
  border-right-color: #f5f6fa;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>.dx-datagrid-readonly .dx-texteditor .dx-texteditor-input {
  background-color: #f5f6fa;
  color: #000;
}

.dx-datagrid-headers {
  border-bottom: none;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
  border-bottom: 1px solid #ebedf3;
}

.dx-datagrid-filter-row {
  background: #fff !important;
}

.dx-datagrid-rowsview {
  border-top: 1px solid #ebedf3;
}

.dx-datagrid-rowsview .dx-selection.dx-row>td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover>td {
  background-color: #f5f6fa;
  color: #000;
}

.dx-datagrid-rowsview .dx-selection.dx-row>td.dx-focused,
.dx-datagrid-rowsview .dx-selection.dx-row:hover>td.dx-focused {
  color: #000;
}

.dx-rtl .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>td:not(.dx-focused).dx-datagrid-group-space {
  border-left-color: #f5f6fa;
}

.dx-treelist-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>td:not(.dx-focused) {
  color: #000;
}

.dx-treelist-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>.dx-treelist-readonly .dx-texteditor .dx-texteditor-input {
  color: #000;
}

.dx-menu-item.dx-state-hover {
  color: #000;
}

.dx-scheduler-date-table-droppable-cell {
  background-color: #ebedf3;
}

.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item.dx-scheduler-recurrence-rule-item-opened:before {
  border-top: 1px solid #ebedf3;
  border-bottom: 1px solid #ebedf3;
}

.dx-datagrid-content-fixed .dx-datagrid-filter-row {
  background: transparent !important;
}

.dx-datagrid .dx-sort-up,
.dx-datagrid .dx-sort-down {
  width: 7px;
  height: 13px;
  position: relative;
}

.dx-datagrid .dx-sort-up:before,
.dx-datagrid .dx-sort-up:after,
.dx-datagrid .dx-sort-down:before,
.dx-datagrid .dx-sort-down:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 5px;
  left: 0;
}

.dx-datagrid .dx-sort-up:before {
  content: '';
  background: url('./custom_imgs/icon_arrow_up_active.png') no-repeat center;
  top: 0;
}

.dx-datagrid .dx-sort-up:after {
  background: url('./custom_imgs/icon_arrow_down.png') no-repeat center;
  bottom: 0;
}

.dx-datagrid .dx-sort-down:before {
  content: '';
  background: url('./custom_imgs/icon_arrow_up.png') no-repeat center;
  top: 0;
}

.dx-datagrid .dx-sort-down:after {
  background: url('./custom_imgs/icon_arrow_down_active.png') no-repeat center;
  bottom: 0;
}

.dx-datagrid .dx-header-filter {
  width: 10px;
  height: 20px;
}

.dx-datagrid .dx-header-filter:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url('./custom_imgs/icon_filter_active.png') no-repeat center;
}

.dx-datagrid .dx-header-filter-empty {
  color: rgba(149, 149, 149, 0);
}

.dx-datagrid .dx-header-filter-empty:before {
  background: url('./custom_imgs/icon_filter.png') no-repeat center;
}

.dx-checkbox-icon {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid #B8B9C5;
  box-sizing: border-box;
}

.dx-checkbox-checked .dx-checkbox-icon {
  font: 14px/1 DXIcons;
  color: #ed1c24;
  background: #C63136;
  border-color: #C63136;
}

.dx-checkbox-checked .dx-checkbox-icon:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url('./custom_imgs/icon-check.svg') no-repeat center;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
}
.dx-datagrid-rowsview .dx-select-checkboxes-hidden > tbody > tr > td > .dx-select-checkbox {
  display: inline-block;
}
.dx-checkbox-indeterminate .dx-checkbox-icon:before {
  content: '';
  background-color: transparent;
  background: url('./custom_imgs/icon-check.svg') no-repeat center;
  left: 0;
  top: 0;
}

.dx-datebox-calendar .dx-dropdowneditor.dx-state-hover .dx-dropdowneditor-icon,
.dx-datebox-calendar .dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
  background-image: url('./custom_imgs/icon_calendar_active.png');
}

.dx-datebox-calendar .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-datebox-calendar .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
  background-image: url('./custom_imgs/icon_calendar_active.png');
}

.dx-list-item-content,
.dx-list .dx-empty-message {
  color: #666;
  font-size: 12px;
}

.dx-state-hover .dx-list-item-content {
  color: #C63136;
}

.dx-list-select-all {
  display: flex;
  align-items: center;
}

.dx-datebox-calendar .dx-dropdowneditor-icon {
  width: 32px;
  height: 32px;
  border-radius: 0;
  background-image: url('./custom_imgs/icon_calendar.png');
  background-repeat: no-repeat;
  background-position: center;
}

.dx-datebox-calendar .dx-dropdowneditor-icon:before {
  content: '';
}

.dx-popup-wrapper>.dx-overlay-content {
  border-radius: 2px;
}

.dx-datagrid .dx-row>td {
  font-size: 14px;
}

.dx-datagrid-focus-overlay {
  border: 1px solid #999;
}

.dx-datagrid-headers .dx-datagrid-content {
  margin-bottom: 40px;
}

.dx-menu-item {
  color: #666;
  background: #fff;
  font-size: 12px;
}

.dx-menu-item.dx-state-focused,
.dx-menu-item.dx-state-hover {
  background-color: #f5f6fa;
}

.dx-menu-item.dx-state-focused,
.dx-menu-item.dx-state-hover {
  background-color: #f5f6fa;
}

/*.dx-menu-item.dx-state-focused {
    background-color: #ed1c24;
    color: #fff;
}*/

.dx-menu-item-selected {
  color: #000;
  background-color: #f5f6fa;
}

.dx-treeview .dx-treeview-node.dx-treeview-item-with-checkbox .dx-checkbox {
  top: 8px;
}

.dx-scrollable-scroll {
  padding: 0;
}

.dx-scrollable-scroll-content {
  background-color: #444 !important;
  opacity: .6;
}

.dx-scrollbar-vertical .dx-scrollable-scroll {
  width: 10px;
  border-radius: 5px;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable {
  width: 10px;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active {
  width: 10px;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll {
  width: 10px;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable {
  height: 10px;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable .dx-scrollable-scroll {
  transition: none;
  height: 10px;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable .dx-scrollable-scroll .dx-scrollable-scroll-content {
  border-radius: 5px;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable .dx-scrollable-scroll.dx-state-invisible {
  transition: none;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable .dx-scrollable-scroll.dx-state-invisible .dx-scrollable-scroll-content {
  transition: none;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active {
  height: 10px;
  border-radius: 5px;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll {
  height: 10px;
  border-radius: 5px;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>td:not(.dx-focused) {
  background-color: #e4e6ee;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>td:not(.dx-focused).dx-datagrid-group-space {
  border-right-color: #e4e6ee;
}

.dx-datagrid-table .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row)>.dx-datagrid-readonly .dx-texteditor .dx-texteditor-input {
  background-color: #e4e6ee;
}

.dx-datagrid-rowsview .dx-selection.dx-row>td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover>td {
  background-color: #e4e6ee;
}

.dx-datagrid .dx-icon-filter-operation-default:before,
.dx-datagrid-container .dx-icon-filter-operation-default:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: url('./custom_imgs/icon_search.png') no-repeat center;
}

.dx-datagrid .dx-editor-cell.dx-focused .dx-icon-filter-operation-default:before,
.dx-datagrid-container .dx-editor-cell.dx-focused .dx-icon-filter-operation-default:before {
  background: url('./custom_imgs/icon_search_active.png') no-repeat center;
}

.dx-datagrid .dx-menu-item-expanded .dx-icon-filter-operation-default:before,
.dx-datagrid-container .dx-menu-item-expanded .dx-icon-filter-operation-default:before {
  background: url('./custom_imgs/icon_search_active.png') no-repeat center;
}

.dx-menu-item.dx-state-focused,
.dx-menu-item.dx-state-hover {
  background-color: #e4e6ee;
}

.dx-menu-item-selected {
  background-color: #e4e6ee;
}

.dx-datagrid-search-text {
  background-color: #C63136;
}

.dx-calendar-cell {
  color: #666;
}

.dx-calendar-cell.dx-calendar-today {
  font-weight: 400;
}

.dx-calendar-cell.dx-state-hover {
  -webkit-box-shadow: inset 0px -1px 0px 1000px #e4e6ee;
  -moz-box-shadow: inset 0px -1px 0px 1000px #e4e6ee;
  box-shadow: inset 0px -1px 0px 1000px #e4e6ee;
}

.dx-calendar-cell.dx-calendar-contoured-date {
  -webkit-box-shadow: inset 0px 0px 0px 1px #aeb3d3;
  -moz-box-shadow: inset 0px 0px 0px 1px #aeb3d3;
  box-shadow: inset 0px 0px 0px 1px #aeb3d3;
  color: #000;
}

.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date {
  box-shadow: inset 0px 0px 0px 1px #aeb3d3;
}

.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date span,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date span {
  color: #000;
}

.dx-datagrid .dx-row>td {
  line-height: 35px;
  height: 35px;
}

.dx-datagrid-headers .dx-datagrid-content {
  margin-bottom: 36px;
}

.dx-datagrid-rowsview {
  border-top: none;
}

.dx-datagrid-borders>.dx-datagrid-headers,
.dx-datagrid-borders>.dx-datagrid-rowsview,
.dx-datagrid-borders>.dx-datagrid-total-footer {
  border-left: 1px solid #e4e6ee;
  border-right: 1px solid#e4e6ee;
}

.dx-datagrid-borders>.dx-datagrid-pager,
.dx-datagrid-borders>.dx-datagrid-headers,
.dx-datagrid-borders>.dx-datagrid-filter-panel {
  border-top: 1px solid #e4e6ee;
}

.dx-datagrid-borders>.dx-datagrid-filter-panel {
  border-left: 1px solid #e4e6ee;
  border-right: 1px solid #e4e6ee;
}

.dx-datagrid .dx-row-lines>td {
  border-bottom: 1px solid #e4e6ee;
}

.dx-datagrid .dx-column-lines>td {
  border-left: 1px solid #e4e6ee;
  border-right: 1px solid #e4e6ee;
}

.dx-datagrid .dx-row>td {
  color: #333;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
  border-bottom: 1px solid #e4e6ee;
}

.dx-datagrid-rowsview {
  border-top: none;
}

.dx-scheduler-date-table-droppable-cell {
  background-color: #e4e6ee;
}

.dx-scheduler-appointment-popup .dx-scheduler-recurrence-rule-item.dx-scheduler-recurrence-rule-item-opened:before {
  border-top: 1px solid #e4e6ee;
  border-bottom: 1px solid #e4e6ee;
}

.dx-popup-wrapper>.dx-overlay-content {
  border: 1px solid #D9D9D9;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
}

.dx-menu-item {
  color: #333;
}

.dx-calendar-cell {
  color: #333;
}

.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date span,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date span {
  font-weight: 600;
}

.custom-row-style .dx-datagrid .dx-row-lines>td {
  background-color: #fff;
}

.dx-datebox.dx-dropdowneditor.dx-state-hover .dx-dropdowneditor-icon,
.dx-datebox.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon {
  background-color: transparent;
  background-image: url('./custom_imgs/icon_calendar_active.png');
}

.dx-datebox.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-datebox.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
  background-color: transparent;
  background-image: url('./custom_imgs/icon_calendar_active.png');
}

.dx-datagrid-headers .dx-datagrid-content {
  margin-bottom: 0;
}

.dx-highlight-outline {
  padding: 0 7px;
}

.dx-dropdowneditor.dx-state-hover .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon {
  background-color: transparent;
}
.dx-checkbox.dx-state-readonly .dx-checkbox-icon {
  display: none;
}
.dx-checkbox.dx-state-hover .dx-checkbox-icon,
.dx-checkbox.dx-state-focused .dx-checkbox-icon {
  border: 1px solid #C63136;
}
.dx-datagrid-checkbox-size .dx-checkbox-icon {
  width: 14px;
  height: 14px;
}